body {
    margin: 0;
    padding: 0;
}

@page {
    height: 1672px;
    margin: 0 100px 100px 200px;
}

.page-header-space {
    min-height: 170px;
}

@media print {
    thead { display: table-header-group; }

    header {
        position: fixed;
        top: 75px;
    }
}

html {
    font-family: Poppins, sans-serif;
    font-size: 40px;
    border: 0;
    padding: 0;
}

.mono {
    font-family: JetBrains Mono, monospace;
}

.jap {
    font-family: Noto Sans JP, serif;
}

h1, h2, h3, h4, .section {
    margin: 25px 0;
}

h1 {
    font-size: 90px;
}

h2, .section {
    font-size: 70px;
    font-weight: bold;
}

h3 {
    font-size: 55px;
}

h4 {
    font-size: 45px;
}

.column {
    display: flex;
    flex-flow: column;
}

.row {
    display: flex;
    flex-flow: row;
}

.justify {
    justify-content: center;
}

.align {
    align-content: center;
}

.section {
    margin: 50px 0;
}

.break-before {
    page-break-before: always;
}

.break-after {
    page-break-after: always;
}

.no-break {
    page-break-inside: avoid;
}